
.parent {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(150px, 60%) 1fr;
  }
  .title{
    color:black;
    font-size: 50px;
    text-align: center;
  }
  .group {
    text-align: left;
    width: 100%;
    display: inline-block;
    font-size: 20px; 
    
}
.content {
  padding-top: 180px;
  margin:auto;
  width: 50%;
}
.content form input {
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
  width: 100%;
  height: 30px;
  background-color: #f3f3f5;
  
}
.add{
  border: 2px solid red;
  border-radius: 12px;
  padding: 5px;
  margin-top: 10px;
  width: 30%;
  
  margin-left: 150px;
}
.list{
 
  width: 100%;
}
.todo{
  
  font-size: 20px;
}


